body{
    background: #081E2D;
    color: #fff;
}
.panel.panel-custom{
    cursor: pointer;
    background-clip: content-box;
    border:2px dashed #0071BF;
    margin-top: 20%;
}
.panel.panel-custom:hover{
    border-style: solid;
}
.panel.panel-custom .panel-heading img{
    margin: 0 auto;
    width: 250px;
}
.panel.panel-custom .panel-body{
    background: #0071BF;
    color: #fff;
}